body, a{
  color: #000;
}
body{
  background-color:  #F1F2F3;
}
a:hover, a:active, a:visited, a:link{ text-decoration: none;}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  ul li a{
    padding: 14px;
    display: block;
  }
    ul li:not(:last-child){
      border-bottom: 1px solid rgba(0,0,0,.11);
    }
    ul li a:hover{
      cursor: pointer;
    }
    ul li a:hover, ul li a:visited{
      background-color: #eee;
    }
main > header, main > footer{
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #285DAE;
  color: #FFF;
}
nav#sidebar{
  border-right: 1px solid rgba(0,0,0,.11);
  background-color: #fff;
}
  nav#sidebar span + span, nav#sidebar{
    color: #000;
  }
  nav#sidebar li a span + span{
    margin-left: 6px;
  }
  main nav#sidebar section aside{
    display: flex;
    flex-wrap: reverse-wrap;
  }
    main nav#sidebar section span.glyphicon{
      font-size: 2.5em;

    }
.glyphicon{
  color: #285DAE;
}
.copy{
  text-align: center;
}

.my_box{
  border: 1px solid rgba(162,162,162,.16);
  border-radius: 3px;
  background-color: #FFF;
  padding: 14px;
}

ul ul.nav-pills li{
  border-bottom: none;
}
