<section>
  <h1>Listagem de sistemas</h1>
  <section class="col-xs-12 col-sm-6 col-md-4 my_box">
    <form class="navbar-form navbar-left" role="search" action="">
      <label for="basic-url">Digite seu e-mail para pesquisar</label>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="E-mail" required>
      </div>
      <button type="submit" class="btn btn-default">Pesquisar</button>
        <p>Você possui <span class="badge">4</span> sistemas instalados</p>
    </form>
  </section>
    <nav class="col-xs-12 col-sm-6 col-md-8">
      <ul class="nav nav-pills nav-stacked my_box">
        <li role="presentation" class="">
          <a href="#/checkout" target="" class="btn btn-default">Criar novo sistema</a>
        </li>
        <ul class="nav nav-pills">
          <li role="presentation" class="" data-toggle="tooltip" data-placement="top" title="Clique para acessar">
            <a href="#" target="__blank">lhenrique</a>
          </li>
          <li role="presentation" class="" data-toggle="tooltip" data-placement="top" title="Clique para acessar">
            <a href="#" target="__blank">lhenrique</a>
          </li>
          <li role="presentation" class="" data-toggle="tooltip" data-placement="top" title="Clique para acessar">
            <a href="#" target="__blank">lhenrique</a>
          </li>
          <li role="presentation" class="" data-toggle="tooltip" data-placement="top" title="Clique para acessar">
            <a href="#" target="__blank">lhenrique</a>
          </li>
          <li role="presentation" class="" data-toggle="tooltip" data-placement="top" title="Clique para acessar">
            <a href="#" target="__blank">lhenrique</a>
          </li>
          <li role="presentation" class="" data-toggle="tooltip" data-placement="top" title="Clique para acessar">
            <a href="#" target="__blank">lhenrique</a>
          </li>
          <li role="presentation" class="" data-toggle="tooltip" data-placement="top" title="Clique para acessar">
            <a href="#" target="__blank">lhenrique</a>
          </li>
          <li role="presentation" class="" data-toggle="tooltip" data-placement="top" title="Clique para acessar">
            <a href="#" target="__blank">lhenrique</a>
          </li>
        </ul>
      </ul>

    </nav>
</section>
