<nav id="sidebar" class="row">
    <ul>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span><span>Meu Plano</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span><span>Criar novo sistema</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span><span>Listar sistemas instalados</span>
        </a>
      </li>

    </ul>
</nav>
